<style>
  dl {
    border-left: 10px solid steelblue;
    width: 60%;
    padding: 1em;
    background-color: #ffffd7;
  }
  dd {
    padding-bottom: 1em;
  }
  dt {
    font-weight: bold;
  }
  div.lastbuild {
    border-left: 10px solid steelblue;
    width: 60%;
    padding: 5px;
    background-color: #eee;
    font-size: 12px;
  }
  div.lastbuild a {
      text-decoration: underline;
      color: blue;
  }
</style>

<div class="intro">

<h1>Welcome to WebKitSearch</h1>
<span style="display: none">###HOSTNAME###</span>

<h3>
  <a href="/webkit/source" style="text-decoration: underline;">WebKit codebase</a>
</h3>
<div class="lastbuild"><p style="margin-left: 1rem">###LAST_BUILD###</p></div>

<p>This is an indexed version of WebKit using <a href="https://github.com/mozsearch/mozsearch">Searchfox</a>.</p>

<h3>Query Language</h3>

<p>
Queries entered into the search box use exact string matching. No
search operators are supported. Case insensitive matching and regular
expression matching can be requested with the check boxes.
</p>

<p>
Path filtering uses globbing. A path matches even if only a substring
of the path is matched by the glob. Use the <code>^</code>
and <code>$</code> operators to match the beginning or end of the
path. Here are some examples:
</p>

<dl>

<dt><code>test</code></dt>
<dd>Find all paths containing the substring "<code>test</code>".

<dt><code>^js/src</code></dt>
<dd>Find all paths starting with <code>js/src</code>.

<dt><code>*.cpp</code></dt>
<dd>Find all paths containing "<code>.cpp</code>".

<dt><code>*.cpp$</code></dt>
<dd>Find all paths ending with "<code>.cpp</code>".

<dt><code>^js/src/*.cpp$</code></dt>
<dd>Find all C++ files in <code>js/src</code>, but not in
subdirectories (i.e., <code>*</code> does not match <code>/</code>).

<dt><code>^js/src/**.cpp$</code></dt>
<dd>Find all C++ files in <code>js/src</code> or in subdirectories
(i.e., <code>**</code> matches <code>/</code>).

<dt><code>^js/src/**.{cpp,h}$</code></dt>
<dd>Find all C++ source or header files in <code>js/src</code> or in subdirectories.

</dl>

<h3>Cross-referencing</h3>

Once you have arrived at a file, you can mouse over identifiers. If
the color of the identifier changes, then clicking on the identifier
will open a context menu for cross-referencing identifiers.

<h3>Syntax Highlighting</h3>

Searchfox uses semantic syntax highlighting. Types are shown in teal
(blue-green). Definitions are shown in bold. Hovering over an
identifier highlights other uses of that identifier.

<h3>Bug reports</h3>

Please send Searchfox bug reports to
<a href="https://bugzilla.mozilla.org/enter_bug.cgi?product=Webtools&component=Searchfox">Bugzilla</a>, and WebKit-specific bug reports to
<a href="https://github.com/dpino/webkit-index-config/tree/webkit-index-config">GitHub</a>.

</div>
